.header {
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.hd-main a{
    list-style-type: none;
    text-decoration: none;
    padding: 0 5px;
    font-size: 20px;
    color: #52896D;
}
.hd-right i {
    padding-right: 10px;
    color: #66AB88;
}
.hd-right button {
    margin-right: 10px;
    width: 70px ;
    padding: 8px;
    border-radius: 15px;
    font-size: 15px;
}
.btn-s {
    background: #66AB88;
    border-style: none;
    color: #fff;
} 
.btn-n {   
    border-color: #66AB88;
    background: #fff;
    color: #66AB88;
}

